<!DOCTYPE html>
<html>
	<head>
		<title>Very Simple Calculator - made by Bumbaru Emanuel, for a test for developers</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container" style="margin-top: 50px">
		  <div class="row"><h1>Very Simple Calculator (only '+', '-', '*', '/' operators)</h1></div>
		  <div class="row">&nbsp;</div>
		  
		
		  
		    <!-- Calculator form -->
		    <form method="post" action="/message">
		        <input name="number1" type="text" class="form-control" style="width: 150px; display: inline" />
		        <select name="operation">
		        	<option value="plus">(+) Plus</option>
		            <option value="minus">(-) Minus</option>
		            <option value="times">(*) Times</option>
		            <option value="divided by">(/) Divided By</option>
		        </select>
		        <input name="number2" type="text" class="form-control" style="width: 150px; display: inline" />
		        <input name="submit" type="submit" value="Calculate" class="btn btn-primary" />
		    </form>
		</div>
	</body>
</html>
